body {
    background: #e5e5e5;
    color: #25282b;
    text-align: center;
}

button {
    background: none;
    color: #ff5e84;
    border: none;
    font-weight: bold;
}

.fat {
    color: white;
    background: #ff5e84;
}

.hide {
    display: none;
}