{% extends "layout.html" %}

{% block content %}

<section id="intro">

    <header>
        <img src="/logo.png" alt="Imagem do logo">
    </header>

    <main>
        <p>
            Ficar em casa em períodos longos, não deve ser nada fácil.
        </p>
        <p>
            Por isso iremos catalogar <strong>ideias, brincadeiras, jogos, filmes,
            livros, cursos, dicas</strong> e tudo que for necessário para tornar
            esse momento mais interessante.
        </p>
        <p>
            Comece clicando em ver ideias para ver as
            ideias cadastradas e contribua adicionando a sua ideia.
        </p>
    </main>

    <section id="buttons">
        <button onclick="onOff()">+ Adicionar Ideia</button>
        <a href="ideias" class="button">Ver Ideias</a>
    </section>

    <footer>By Nardo🤟😄</footer>

</section>

<section id="last-ideas">
    {% include "all_ideas.html" %}
</section>

{% endblock %}}